<nz-layout class="app-layout">
  <nz-sider [(nzCollapsed)]="isCollapsed" [nzTrigger]="null" class="menu-sidebar" nzBreakpoint="md" nzCollapsible
            nzTheme="light" nzWidth="256px">

    <!-- sidebar_logo -->
    <div class="sidebar-logo">
      <a href="#">
        <img alt="ADA_LOGO" src="assets/wu.png" width="100px"><span class="logo-text">Western Union</span>
      </a>
    </div>

    <!-- menu_compute-->
    <ul [nzInlineCollapsed]="isCollapsed" nz-menu nzMode="inline">
      <li nz-submenu nzIcon="cloud-server" nzOpen nzTitle="Compute Engine">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/compute/ec2">EC2</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/compute/elastic-beanstalk">Elastic Beanstalk</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/compute/serverless-app-repo">Serverless App Repository</a>
          </li>
        </ul>
      </li>
    </ul>

    <ul [nzInlineCollapsed]="isCollapsed" nz-menu nzMode="inline">
      <li nz-submenu nzIcon="apartment" nzOpen nzTitle="Networking & Security">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/ns/iam">IAM</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/ns/vpc">VPC</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/ns/vpc/subnets">Subnets</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/ns/vpc/route-tables">Route Tables</a>
          </li>
        </ul>
      </li>
    </ul>

    <ul [nzInlineCollapsed]="isCollapsed" nz-menu nzMode="inline">
      <li nz-submenu nzIcon="apartment" nzOpen nzTitle="S3 Storage">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/s3/basic-information">S3 Basic Information</a>
          </li>
        </ul>
      </li>
    </ul>

    <ul [nzInlineCollapsed]="isCollapsed" nz-menu nzMode="inline">
      <li nz-submenu nzIcon="apartment" nzOpen nzTitle="Relational Database Service">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/rds/information">Information</a>
          </li>
        </ul>
      </li>
    </ul>

    <ul [nzInlineCollapsed]="isCollapsed" nz-menu nzMode="inline">
      <li nz-submenu nzIcon="apartment" nzOpen nzTitle="Amazon Route 53">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/r53/hosted-zones">Hosted Zones</a>
          </li>
        </ul>
      </li>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header>
      <div class="app-header">
        <span (click)="isCollapsed = !isCollapsed" class="header-trigger">
          <i [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'" class="trigger" nz-icon></i>
        </span>
        <span class="app-name">AWS DASHBOARD</span>
      </div>
    </nz-header>
    <nz-content>
      <div class="inner-content">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
  </nz-layout>
</nz-layout>
